.ant-dropdown ul{
    background-color: #0D1115 !important;
}
.ant-dropdown *{
    color: var(--text-color);
}

.ant-dropdown li{
    margin:5px !important;
    font-size: 16px !important;
}
.ant-dropdown li:hover {
    background-color:var(--active-color) !important;
    scale: 1.1;
}