@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-bg-color: #212529; 
  --secondary-bg-color: #A4B1CD;
  --primary-button-color: #55ABE0;
  --secondary-button-color: #A4B1CD;
  --black-color: #000000;
  --green-color: #00FF1A;
  --red-color: #FF1F00;
  --header-color: #FFFFFF;
  --text-color: #A4B1CD;
  --bronze-color: #CD7F32;
  --active-color: rgba(164, 177, 205, 0.35);
  --placeholder-size:13px;

}


html, body {
  height:100%;
  margin: 0;
  background-color: var(--primary-bg-color);
  font-family: 'Roboto Mono', monospace;
  color: var(--text-color);
  font-size: 16px;
}

#root{
  height:100%;
}

.label{
  font-size:16px
}

.notice{
  font-size:12px
}
.small{
  font-size:12px
}

.btn{
  border-radius: 10px;
  padding: 10px;
  color:var(--header-color);
  margin-left:10px;
  cursor: pointer;
}

.primary-btn{
  background-color: var(--primary-button-color);
  color: var(--black-color)

}

.secondary-btn{
  background-color: var(--secondary-button-color);
  color: var(--black-color)
}

h1,h2,h3,h4,h5,h6,.sub-header{
  color:var(--header-color)
}

h1{
  font-size: 36px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 22px;
}
h6{
  font-size: 20px;
}
.sub-header{
  font-size: 18px;
}

.main-wrapper {
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.main-wrapper *{
  z-index: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;
}

input{
  border-radius: 5px;
  padding: 5px;
}
input::placeholder{
  font-size:var(--placeholder-size)
}

