.react-chatbot-kit-chat-header {
    background-color: #212529;
}

.react-chatbot-kit-chat-container {
    background-color: #212529;
}

.react-chatbot-kit-chat-input{
    border:none;
}

.react-chatbot-kit-chat-input-form{
    border: 1px solid black;
    box-shadow: 0px 1px 3px 1px;
    border-radius: 5px;
}
