  .logo-container img {
    height: 40px;
  }
  .navbar{
    background: #171B1F;
    height: 15%;
  }
  .navbar *{
  z-index: 1;
  }

  .custom-popover{
    background-color: #0D1115 !important;
  }
  .custom-popover li{
    font-size: 16px !important;
    color: var(--text-color);
  }

  .custom-popover li:hover {
    background-color:var(--active-color) !important;
    scale: 1.1;
}

  .menu-container{
    display:none
  }

  @media (max-width: 768px) {
    .menu-container{
      display: flex;
    }
    .menu-container *{
      cursor: pointer;
    }
    .buttons-container{
      display: none;
    }
  }